{% extends 'base.html'%}

{% load static %} 
 
{% block body %}


 <!-- start: Breadcrumb Section -->
      <section class="tj-page-header" data-bg-image="assets/images/bg/pheader-bg.webp">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="tj-page-header-content text-center">
                     <h1 class="tj-page-title text-anim">About</h1>
                     <div class="tj-page-link wow fadeInUp" data-wow-delay="0.1s">
                        <span>
                           <a href="index.html">
                              <span>Home</span>
                           </a>
                        </span>
                        <span>/</span>
                        <span>
                           <span>About</span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end: Breadcrumb Section -->
      <!-- start: About Section -->
      <section class="tj-about-info section-space">
         <div class="container">
            <div class="row rg-30 justify-content-between">
               <div class="col-lg-6 col-md-12">
                  <div class="pricing-left-content">
                     <div class="sec-heading mb-0">
                        <h2 class="sec-title text-anim"><br>Success Story of <br>Mechina Core

                        </h2>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12">
                  <div class="desc mb-30 wow fadeInUp" data-wow-delay="0.3s">
                     <p>Since 2014 dedicated to professional Industrial automation –PLC SCADA training to improve skills, enhance operational efficiency. We deliver both training and Project services in automation field.

Empirical Technologies has a strong team of core members, placement consultants, supervising members specializing in professional trainings and automation.p>
                  </div>
                  <div class="about-btn wow fadeInUp" data-wow-delay="0.5s">
                     <a href="contact.html" class="tj-primary-btn">
                        <div class="btn_inner">
                           <div class="btn_icon">
                              <span>
                                 <i class="tji-arrow-right"></i>
                                 <i class="tji-arrow-right"></i>
                              </span>
                           </div>
                           <div class="btn_text">
                              <span>Learn more</span>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end: About Section -->
      <!-- start: Feature Section -->
      <section class="tj-feature-section section-bottom-space">
         <div class="container">
            <div class="row rg-30">
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="feature-item wow fadeInUp" data-wow-delay="0.1s">
                     <div class="news-icon">
                        <img src="service_img/download (9).png" alt="Icons">
                     </div><br>
                     <div class="feature-content">
                        <h5 class="title">Industry Oriented Modules</h5>
                        <div class="desc">
                           <p>Our modules are carefully designed and highly customizable as per your work profile saving money and time.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="feature-item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="feature-icon">
                        <img src="service_img/download (12).png" alt="Icons">
                     </div><br>
                     <div class="feature-content">
                        <h5 class="title">Small Batches</h5>
                        <div class="desc">
                           <p>Our consultancy excels in providing quick solutions tailored to your business challenges
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="feature-item wow fadeInUp" data-wow-delay="0.5s">
                     <div>
                        <img src="service_img/download (13).png" alt="Icons">
                     </div>
                     <div class="feature-content">
                        <h5 class="title">Hands on Experience</h5>
                        <div class="desc">
                           <p>We emphasize more on practical training instead of only theory giving you an edge over traditional approach
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="feature-item wow fadeInUp" data-wow-delay="0.9s">
                     <div class="feature-icon">
                        <img src="service_img/download (11).png" alt="Icons">
                     </div><br>
                     <div class="feature-content">
                        <h5 class="title">Flexible Timings
</h5>
                        <div class="desc">
                           <p>we take into consideration time limitations of working professional. so we offer complete flexibility in timings.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
         <div class="container d-xxl-none">
            <div class="row rg-50 align-items-center">
               <div class="col-xl-6 col-12">
                  <div class="tj-evolute">
                     <span class="tj-evolute-title mb-30"><i ></i>What we are</span>
                     <div class="desc mb-60">
                        A dedicated team of automation professionals with years of experience.
Experts in various fields including robotics, AI, and manufacturing processes.
Proficient in designing and deploying robotic systems for various applications.
Focus on improving precision, speed, and overall productivity in tasks.
Specialists in integrating AI solutions to optimize processes and enhance decision-making capabilities.
Development of machine learning algorithms adapted to specific industrial needs.
Expertise in modern manufacturing techniques, including automation of production lines.
Strategies for reducing waste and increasing throughput through smart automation solutions.
                     </div>
                    
                  </div>
               </div>
               <div class="col-xl-6 col-12">
                  <div class="tj-evolute-image">
                     <img src="service_img/OIP.webp" alt="evolute">
                       
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end: Evolution Section -->
      <!-- start: Team Section -->
     <section class="tj-team-area section-space">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="sec-heading text-center">
               <div class="sec-text">
                  <h2 class="sec-title text-anim">Expert team members</h2>
               </div>
            </div>
         </div>
      </div>
      <div class="swiper tj-team-slider wow fadeInUp" data-wow-delay="0.3s">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <div class="team-item">
                  <div class="team-images">
                     <img src="service_img/7.jpg" alt="Images" style="width:100%; height:300px; object-fit:cover;">
                  </div>
                  <div class="team-content">
                     <div class="team-text">
                        <h5 class="title">Vivek Nagar</h5>
                        <span class="sub-title">Co. Founder</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="team-item">
                  <div class="team-images">
                     <img src="service_img/OIP (19).jpeg" alt="Images" style="width:100%; height:300px; object-fit:cover;">
                  </div>
                  <div class="team-content">
                     <div class="team-text">
                        <h5 class="title">Yash Rathore</h5>
                        <span class="sub-title">Co. Founder</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="team-item">
                  <div class="team-images">
                     <img src="service_img/OIP (20).jpeg" alt="Images" style="width:100%; height:300px; object-fit:cover;">
                  </div>
                  <div class="team-content">
                     <div class="team-text">
                        <h5 class="title">Kartik Jain</h5>
                        <span class="sub-title">Co. Founder</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="team-item">
                  <div class="team-images">
                     <img src="service_img/OIP (21).jpeg" alt="Images" style="width:100%; height:300px; object-fit:cover;">
                  </div>
                  <div class="team-content">
                     <div class="team-text">
                        <h5 class="title">Rahul Solanki</h5>
                        <span class="sub-title">Co. Founder</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="swiper_pagination service-pagination"></div>
      </div>
   </div>
</section>

      <!-- end: Team Section -->
  



{% endblock %}